@import "../mixins/breakpoints.mixin.scss";
@import "../mixins/variables.mixin.scss";

.blogsContainer {
    // background-color: red;
    color: map-get($map: $colors, $key: third);
    // font-family: "Zilla Slab", serif;

    margin: 2rem 0;
    .title {
        width: 90%;
        max-width: 90%;
        margin: 10px 0;
        font-size: 1.5rem;
        letter-spacing: normal;
        line-height: 1.3;
        // background-color: royalblue;
    }
    .readMore {
        margin-left: 10px;
        font-size: 1rem;
    }
    .date {
        font-size: 1rem;
    }
}
