$size-sm: 520px;
$size-md: 780px;
$size-lg: 991px;
$size-xl: 1200px;

@mixin sm {
    @media (min-width: $size-sm) {
        @content;
    }
}

@mixin md {
    @media (min-width: $size-md) {
        @content;
    }
}

@mixin lg {
    @media (min-width: $size-lg) {
        @content;
    }
}

@mixin xl {
    @media (min-width: $size-xl) {
        @content;
    }
}
