$colors: (
    first: #f08700,
    // Hero section text
    second: #ffcd1f,
    // no use
    third: #303545,
    // used mainly as text color
    forth: #f3d4d5,
    // Secondary background
    fifth: #3ccfcf,
    sixth: #28a7a7,
    // support to main background
    seventh: #4257b2,
    // used as main background
    eight: #4257b2,
    darkText: #010101,
);
