$colors: (
  first: #f08700,
  // Renamed as Orange
  // Hero section text
  second: #ffcd1f,
  // no use
  third: #303545,
  // Renamed as primary text color
  // used mainly as text color
  forth: rgb(243, 212, 213),
  // Renamed as Pink
  // forthDM: hsl(358, 75%, 60%),
  forthDM: rgba(243, 212, 213, 0.65),
  // Secondary background
  fifth: #3ccfcf,
  // Renamed as Green
  sixth: #28a7a7,
  // Renamed as Dark Green
  // support to main background
  seventh: #4257b2,
  // used as main background
  // Renamed as Blue
  eight: #4257b2,
  darkText: #010101,
  white: #fffdf6,
);
