@import "../mixins/variables.mixin.scss";
@import "../mixins/breakpoints.mixin.scss";

.footerSection {
    background-color: map-get($map: $colors, $key: seventh);
    .footer {
        background-color: map-get($map: $colors, $key: seventh);
        color: map-get($map: $colors, $key: third);
        color: #1a1a1a;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        div {
            margin: 20px 20px;
            ul {
                li {
                    margin: 5px 0;
                }
            }
        }
    }
    .socialMedia {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .socialMediaIcon {
            width: 32px;
            height: 32px;
            margin: 20px 0.2rem;
            transition: all 0.5s ease;
            &:hover {
                transform: scale(1.1);
                opacity: 0.8;
            }
        }
    }
}
