@import "../mixins/variables.mixin.scss";
@import "../mixins/breakpoints.mixin.scss";

.burger {
  min-width: 20px;
  cursor: pointer;
  margin-right: 10px;
  div {
    height: 3px;
    margin: 5px 0;
    background-color: map-get($map: $colors, $key: white);
  }
}

.burgerToCross .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  transition: transform 0.5s ease;
}

.burgerToCross .line2 {
  opacity: 0;
}

.burgerToCross .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  transition: transform 0.5s ease;
}
.crossToBurger .line1 {
  transition: transform 0.5s ease;
}

.crossToBurger .line2 {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.crossToBurger .line3 {
  transition: transform 0.5s ease;
}

.footerSection {
  background-color: map-get($map: $colors, $key: seventh);
  color: map-get($map: $colors, $key: fifth);
  position: relative;
  top: 10vh;
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      margin: 20px 20px;
      h4 {
        font-size: 1.5rem;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        li {
          margin: 10px 0;
          cursor: pointer;
          color: inherit;
          opacity: 0.8;
          font-size: 1.1rem;
          transition: all 0.3s ease;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .socialMedia {
    color: map-get($map: $colors, $key: darkText);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .socialMediaIcon {
      width: 32px;
      height: 32px;
      margin: 20px 0.2rem;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.2) rotate(360deg);
        opacity: 0.8;
      }
    }
  }
}
