.burger {
  min-width: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.burger div {
  height: 3px;
  margin: 5px 0;
  background-color: var(--white);
}

.burgerToCross .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  transition: transform 0.5s ease;
}

.burgerToCross .line2 {
  opacity: 0;
}

.burgerToCross .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  transition: transform 0.5s ease;
}
.crossToBurger .line1 {
  transition: transform 0.5s ease;
}

.crossToBurger .line2 {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.crossToBurger .line3 {
  transition: transform 0.5s ease;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer div {
  margin: 20px;
}

.footer div h4 {
  font-size: 1.5rem;
}

.footer div h4 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer div h4 ul li {
  margin: 10px 0;
  cursor: pointer;
  color: inherit;
  opacity: 0.8;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.footer div h4 ul li:hover {
  opacity: 1;
}
