@import "./mixins/variables.mixin.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: #f08700;
  --white: #fffdf6;
  --primary-text: #303545;
  --dark-text: #010101;
  --green: #3ccfcf;
  --dark-green: #28a7a7;
  --blue: #4257b2;
  --pink: #f3d4d5;
}

@layer base {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--blue);
  }

  h2:after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0;
    /* This will center the border. */
    width: 70px;
    /* Change this to whatever width you want. */
    padding-top: 5px;
    /* This creates some space between the element and the border. */
    border-bottom: 3px solid var(--dark-green);
    /* This creates the border. Replace black with whatever color you want. */
  }

  h3 {
    font-size: 1.75rem;
  }
}

@layer utilities {
  .font-cursive {
    font-family: "Cedarville Cursive", cursive;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@layer components {
  .subtitle::before {
    content: "";
    animation: changeSubtitle infinite 8s;
  }

  .wave {
    padding: 0 5px;
    position: relative;
    animation: wave infinite 1s;
  }

  .listItem {
    list-style: decimal inside;
    margin: 5px;
    line-height: 1.4;
    font-size: 1.1rem;
  }

  .socialMediaIcon {
    width: 32px;
    height: 32px;
    margin: 20px 0.2rem;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.2) rotate(360deg);
      opacity: 0.8;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-display: swap;
  width: 100%;
  max-width: 100%;
  font-family: "Zilla Slab", serif;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

body.dark-mode {
  background-color: map-get($map: $colors, $key: third);
  color: map-get($map: $colors, $key: white);

  #introduction,
  #about,
  #skills,
  #blogContainer,
  #blogContent,
  #copyRight {
    background-color: inherit;
    color: inherit;
  }

  #progressBar {
    background: map-get($map: $colors, $key: forthDM);
  }

  #skills {
    background-color: map-get($map: $colors, $key: forthDM);
    color: map-get($map: $colors, $key: third);
  }

  #darkModeToggle {
    color: map-get($map: $colors, $key: white);
    & > button {
      &:last-child {
        // color: #ffe600;
        color: map-get($map: $colors, $key: second);
      }
    }
  }
  #dmcheck {
    background-color: map-get($map: $colors, $key: white);
    & + label {
      background-color: #555555;
      opacity: 1;
    }
  }
  #burger {
    div {
      background-color: map-get($map: $colors, $key: third);
    }
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
}

@keyframes changeSubtitle {
  0% {
    content: "Student";
  }
  50% {
    content: "Web Developer";
  }
  100% {
    content: "Constant Learner";
  }
}

@keyframes wave {
  0% {
    right: 5px;
  }
  50% {
    right: 0;
  }
  100% {
    right: 5px;
  }
}
