@import "./mixins/variables.mixin.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-display: swap;
    width: 100%;
    max-width: 100%;
    // font-family: "Open Sans", sans-serif;
    // font-family: "Roboto", sans-serif;
    font-family: "Zilla Slab", serif;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    transition: all 0.3s ease;
    &:hover {
        text-decoration: underline;
    }
}

p {
    font-size: 1.2rem;
    line-height: 1.4;
}
