@import "./mixins/breakpoints.mixin.scss";
@import "./mixins/variables.mixin.scss";
.containerWithMargin {
    width: 90%;
    margin: 100px auto;
    @include sm {
        width: 85%;
    }
    @include md {
        width: 80%;
    }
}
.containerWith50pxMargin {
    width: 90%;
    margin: 50px auto;
    @include sm {
        width: 85%;
    }
    @include md {
        width: 80%;
    }
}
.containerWithPadding {
    padding: 100px 5%;
    @include sm {
        padding: 100px 7.5%;
    }
    @include md {
        padding: 100px 10%;
    }
}

.display404Message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: map-get($map: $colors, $key: seventh);
}

.h2:after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0;
    /* This will center the border. */
    width: 70px;
    /* Change this to whatever width you want. */
    padding-top: 5px;
    /* This creates some space between the element and the border. */
    border-bottom: 3px solid map-get($map: $colors, $key: sixth);
    /* This creates the border. Replace black with whatever color you want. */
}

.h3 {
    font-size: 1.75rem;
}

.fadeInFromLeft,
.fadeInFromLeftFalse {
    transition: all 2s ease;
    opacity: 0;
    transform: translateX(-100%);
}

.fadeInFromLeft {
    opacity: 1;
    transform: translateX(0%);
}

.fadeInFromRight,
.fadeInFromRightFalse {
    transition: all 2s ease;
    opacity: 0;
    transform: translateY(-100%);
}

.fadeInFromRight {
    opacity: 1;
    transform: translateY(0%);
}
